html {
    height: 100%;
}
*{
    padding: 0;
    margin: 0;
}

body {
    background-image: url("imgs/RAINBOW.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

font {
    font-size: 15vh;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 3px black;
}

#face {
    /* width: 50vh; */
    height: 70vh;
    
}
#face img{
    height: 100%;
}
#score-board{
    width: 50vw;
    
}
body{
    overflow: hidden;
}
.content {
    display: block;
    width: 100%;
    max-width: 720px;
    height: 300px;
    background-color: rgba(255, 215, 215, 0.809);
    border: 3px solid #111;
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
    top: calc(100vh - 46px);
    right: 0;left: 0;
    margin:auto;
    /* animation-duration: 2s; */
    transition: 0.5s;
}
.content a {
    text-decoration: none;
    color:black;
}

.data_title {
    width: 100%;
    height: 40px;
    background-color: rgba(242, 125, 236, 0.563);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* ?哈哈 */
/* todo list  */
/* !dfdf */
/* #dfasfafdasdf */
/* *sdfasfjl;asdfji; odasf */


.data_item {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.479);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* padding: 0 20px 0 20px; */
}
.data_item span{
    margin-right: 10px;
    font-size: 18px;
}

.data_title label {
    text-align: center;
}

.data_content {
    width: 100%;
    height: calc(100% - 20px);
    overflow: auto;

}
.data_content_warp{
    width: calc(100% - 40px);
    padding: 0px 20px 20px 20px;
}
.login_area .eportal_login_btn{
    width: 60px;
    position: fixed;
    top: 20px;
    left: 20px;
}
.eportal_login_btn{
    width: 60px;

}
.eportal_login_btn a{
    text-decoration:none;
}
.eportal_login_btn a{
    display: flex;
    flex-direction: column;
}
.eportal_login_btn span{
    font-size: 20px;
    text-align: center;
    color: rgb(255, 177, 177);
}

.login_area .login-space{
    width: calc(100% - 44px);
    max-width:450px;
    /* min-height: 200px; */
    /* height: auto; */
    /* height: 200px; */
    background-color: rgba(255, 227, 227, 0.834);
    position: fixed;
    top: 200px;
    right: 0;
    left: 0;
    margin:auto;
    
    border-radius:10px;
    border: 2px solid rgb(20, 20, 20);
    
}

.login_area .cancel{
    width: 20px;
    height: 20px;
    background-color: #bbb;
    border: 1px solid #000000;
    border-radius:50%;
    position: fixed;
    top: 20px;right: 20px;
}

.ui_btn {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#up_icon a {
    height: 100%;
}

#up_icon {
    height: 100%;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#up_icon img {
    height: 80%;
}
.championship_icon {
    height: 100%;

}

.championship_icon img {
    height: 100%;
}
.lab_ranking{
    width: 1em;
}
.lab_class{
    width: 10em;
}
.lab_name{
    width: 10em;
}
.board_title {
    color: rgb(27, 152, 106);
}
.lab_ranking {
    min-width: 1.375rem;
    text-align: center;
    font-size: 1rem;
    margin-right: .5rem;
}

.data_item {
    display: flex;
}

.lab_click {
    margin-left: auto;
}
.cancel_login_ntn{
    width: 20px;height: 20px;
    position: absolute;
    right: 15px;
    top: 15px;

}
.cancel_login_ntn img{
    width: 100%;
    height: 100%;
}
.login_btns{
    border-top: 1px solid rgba(255, 255, 255, 0.636);
    width: 100%;
    height: calc(100% - 45px);
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    padding-top:5px;
    padding-bottom: 5px;
}
.logined{
    width: 100%;
    height: 100%;
    display: none;
                /* display: flex; */
    flex-direction: column;
    align-items: center;
}
.unlogin{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
                /* display: none; */

}
.q_item{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.google_signout{
    width: 80px;
    height: 30px;
    background-color: rgba(166, 124, 255, 0.708);
    border: 1px solid rgba(196, 196, 196, 0.78);
    border-radius:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.google_signout span{
    color: white;
    text-decoration: none;
    
}
a{
    text-decoration: none;
}
.self_info{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.self_info_item{
    width: 100%;
    display: flex;
}
.self_info_item span{
    width: 50%;
}