<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aaaaatestaaaaa</title>
</head>
<body>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        .cc{
            background-color: #aaa;
            display: block;
            width: calc(9em / 2);

        }
        #a{
            font-size: 16px;
        }
    </style>
    <div class="cc">
        <span id="a">sssssssss</span>
        <!-- <span id="b">bbb</span> -->
    </div>
</body>
</html>