<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rex Pop</title>
    <link rel="stylesheet" href="../static/style.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/script2.js"></script>
    <script src="../static/script.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
        content="463794153045-1n3oqjl5bt8m10q6pp8di8pjrbc3c4cc.apps.googleusercontent.com">


    <script>

    </script>
    <link rel="short icon"
        href="https://ik.imagekit.io/csiejarimgstorage/poprexImage/rex.icon_e7QQx1MMd.png?ik-sdk-version=javascript-1.4.3&updatedAt=1650001333253">
    <script>

    </script>
</head>

<body>
    

    <!-- title img -->
    <center>
        <div id="title">
            <font>POP REX</font>
        </div>
        <div>
            <font id="score">0</font>
        </div>
        <div id="face">
            <img id="face1"
                src="https://ik.imagekit.io/csiejarimgstorage/poprexImage/rex0_ewOou6QTyX.png?ik-sdk-version=javascript-1.4.3&updatedAt=1650001333461"
                alt="">
            <img id="face2"
                src="https://ik.imagekit.io/csiejarimgstorage/poprexImage/rex1_AP9KYtbB4.png?ik-sdk-version=javascript-1.4.3&updatedAt=1650001333459"
                alt="" style="display:none;">
        </div>
        <div id="score-board">

        </div>

    </center>

    <script>
        
    </script>
    <!-- login btn and log out btn -->
    <div class="login-area">
        <div class = "eportal_login_btn">
            <a href="">
    
                <img src="https://ik.imagekit.io/csiejarimgstorage/poprexImage/icons8-login-64_CGFVcCi4B.png?ik-sdk-version=javascript-1.4.3&updatedAt=1650556731365" alt="login_icon">
                <span>登入</span>
            </a>
        </div>
        <div class="account_icon eportal_login_btn" style="display:none;">
            <a href="">
    
                <img src=""  alt="login_icon">
                <span>name</span>
            </a>
        </div>
        <div class = "login-space" style="display: none">
            <h1>請選擇登入方式</h1>
            <div class = "cancel_login_ntn">
                <a><img src="https://ik.imagekit.io/csiejarimgstorage/poprexImage/close_KE-2w2TUP2.png?ik-sdk-version=javascript-1.4.3&updatedAt=1650644426410" alt=""></a>
            </div>
            <div class="login_btns">

                <div class="g-signin2" data-onsuccess="onSignIn"></div>
                <a href="#" onclick="signOut();" id="google_sighout" style="display:none;">Sign out</a>
            </div>
        </div>
    </div>
    <!-- score board -->
    <div class="content">
        <a href="">
            <div class="data_title">
                <div class="championship_icon">
                    <img src="https://ik.imagekit.io/csiejarimgstorage/poprexImage/trophy_hIPpKG8mv.png?ik-sdk-version=javascript-1.4.3&updatedAt=1650606735490"
                        alt="">

                </div>
                <h1 class="board_title">POP REX 記分板</h1>
                <div id="up_icon">
                    <img src="https://ik.imagekit.io/csiejarimgstorage/poprexImage/up-arrow_NE0CIcxBM.png?ik-sdk-version=javascript-1.4.3&updatedAt=1650602842158"
                        alt="up_img" id="up_img">
                    <img src="https://ik.imagekit.io/csiejarimgstorage/poprexImage/down-arrow_ZBfDrCimZ.png?ik-sdk-version=javascript-1.4.3&updatedAt=1650603031465"
                        alt="down_img" id="down_img" style="display:none">
                </div>
            </div>
        </a>
        <div class="data_content">

            <div class="data_content_warp">
                <div class="data_item" style="display:none">
                    <span class="lab_ranking">名次</span>
                    <span class="lab_class">班級</span>
                    <span class="lab_name">姓名</span>
                    <span class="lab_id">學號</span>
                    <span class="lab_click">次數</span>
                </div>
            </div>

        </div>
    </div>
</body>

</html>