<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rex Pop</title>
    <link rel="stylesheet" href="../static/style.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/script2.js"></script>
    <script src="../static/script.js"></script>
    
    <script>

    </script>
    <link rel="short icon"
        href="https://ik.imagekit.io/csiejarimgstorage/poprexImage/rex.icon_e7QQx1MMd.png?ik-sdk-version=javascript-1.4.3&updatedAt=1650001333253">
</head>

<body>
    <script>
        $(document).ready(function () {
            $(".eportal_login_btn a").click(function (e) { 
                e.preventDefault();
                
            });
        });
    </script>
    
    <center>
        <div id="title">
            <font>POP REX</font>
        </div>
        <div>
            <font id="score">0</font>
        </div>
        <div id = "face">
            <img id="face1"
                src="https://ik.imagekit.io/csiejarimgstorage/poprexImage/rex0_ewOou6QTyX.png?ik-sdk-version=javascript-1.4.3&updatedAt=1650001333461"
                alt="">
            <img id="face2"
                src="https://ik.imagekit.io/csiejarimgstorage/poprexImage/rex1_AP9KYtbB4.png?ik-sdk-version=javascript-1.4.3&updatedAt=1650001333459"
                alt="" style="display:none;">
        </div>
        <div id="score-board">
            
        </div>
        <div class="content">
            <div class="data_title">
                <label class="lab_ranking">名次</label>
                <label class="lab_class">班級</label>
                <label class="lab_name">名子</label>
                <label class="lab_id">學號</label>
                <label class="lab_click">次數</label>
            </div>
            <div class="data_content">
    
                <div class="data_item" style="display:none">
                    <label class="lab_ranking">名次</label>
                    <label class="lab_class">班級</label>
                    <label class="lab_name">名子</label>
                    <label class="lab_id">學號</label>
                    <label class="lab_click">次數</label>
                </div>
    
            </div>
        </div>
    </center>
    <script>
        $(document).ready(function () {
            // var account = ""
            
            $(".eportal_login_btn").click(function (e) { 
                if(account ==""){
                    $(this).hide();
                    $(".login-space").show();
                
                }
                
            });
            $("#cancel_btn").click(function (e) { 
                $(".login-space").hide();
                $(".eportal_login_btn").show();
            });
        });
    </script>
    <div class="login-area">
        <div class = "eportal_login_btn">
            <a href="">
    
                <img src="https://ik.imagekit.io/csiejarimgstorage/poprexImage/icons8-login-64_CGFVcCi4B.png?ik-sdk-version=javascript-1.4.3&updatedAt=1650556731365" alt="login_icon">
                <span>登入</span>
            </a>
        </div>
        <script>
            $(document).ready(function () {
                
                $("#info").click(function (e) { 
                    alert("使用此eportal登入時，即同意本網站蒐集eportal基本資料，包刮：姓名、學號、班級、電話")
                    
                });
            });
        </script>
        <div class = "login-space" style="display: none">
            <h1>eportal 登入</h1>
            <div class="flex_item">
                <label for="">eportal 帳號</label>
                <input type="text" id = "account_input">
            </div>
            <div class="flex_item">
                <label for="">eportal 密碼</label>
                <input type="password" id = "password_input">
            </div>
            <div class="flex_item ui_btn">
                <button id = "info">使用條款</button>
                <button id = "submit">確認送出</button>
                <button id = "cancel_btn">取消登入</button>
            </div>
        </div>
    </div>
</body>

</html>